doctype html
html(style='margin: 0; padding: 0; box-sizing:border-box')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title GoGaga
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href="https://fonts.googleapis.com/css?family=Questrial", rel="stylesheet")
  body(style='margin:0; padding:0; box-sizing:border-box; font-family: "Questrial", sans-serif; line-height: 25px; max-width: 600px; margin: auto')
    br
    br
    h1 List of all build API
    hr
    h2 /place
    ul
      li: a(href='/place/find') /find
      li: a(href='/place/add') /add
      li: a(href='/place/') /search
